---
layout: page
title: Junk Systems
subtitle: Share your unused CPU time for &#xf15a;<br/>Buy extremely cheap computation
---

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1008463105888872',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<div class="main-explain-area jumbotron">
  <p>Junk.Systems is the easiest way to share your CPU and get instant linux shells.</p>
  <pre><span style="color: gray">
# To start sharing your CPU:
# 1. Download the client script</span>
$ wget -q https://raw.githubusercontent.com/junk-systems\
/jusy/master/jusy-server.py
<span style="color: gray">
# 2. Run it</span>
$ sudo python jusy-server.py --install-cronjob --daemon &lt;your hash here&gt;
<span style="color: gray">
# 3. Check that everything is okay</span>
$ tail /var/log/jusy.log
2016-07-11 - jusy - INFO - You already have the latest version.
2016-07-11 - jusy - INFO - Server says: accepted as Junk.Systems resource
<span style="color: gray">
# All done! Now wait for bitcoins!</span></pre>

  <p>We offer:</p>
  <ul>
    <li>Untrusted site</li>
    <li>Insecure environment</li>
    <li>Non-guaranteed availability</li>
    <li>No protection against AI apocalypse</li>
    <li><strong>Extremely low price for raw computation, in 1 CPU-hour chunks</strong></li>
  </ul>

  <p>Junk Systems provides two interfaces:</p>
  <ol>
    <li>A Python 2.5+ script with no dependencies for x86-64 Linux that opens your system for SSH logins (Node Owner)</li>
    <li>An HTTP-GET call to get login credentials in JSON format</li>
  </ol>
  <p>Each CPU-core-hour costs <strong>~$0.0035</strong> equivalent in <i class="fa fa-btc" aria-hidden="true"></i>. The Systems takes minimal transfer fee and may apply surge prices based on demand and supply. If you are logged in to the node for more than 20 seconds - you are charged 1 CPU-hour.</p>
  <p>If you want to earn bitcoins by sharing your CPU - head over to <a href="/node/#node-owner/knack-register/profile_4">Node Owner registration</a>. Check out <a href="https://jscalc.io/calc/znUKnWTrXZtFnl9t">earnings calcularor</a> to find if it is profitable for you to host a node.</p>
  <div class="get-started-wrap">
    <a class="btn btn-success btn-lg get-started-btn" href="/nodeowner">Start as Node Owner</a>
  </div>
  <p>If you want to compute your algorithms and tasks at cheapest possible price - <a href="/client/#client/knack-register/profile_5">sign up as Client</a></p>
  <div class="get-started-wrap">
    <a class="btn btn-success btn-lg get-started-btn" href="/clientstart">Get Started as Client</a>
  </div>
  <p>Junk.Systems takes care about CPU quality by benchmarking the resources and applying rating. Nodes with higher rating are prioritized. Nodes with lower rating operate for free until they get to the upper 80% rating. <strong>We are currently in early testing stage so ratings may or may not work for you.</strong></p> 
  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div><br/><br/>
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
