<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <meta name="author" content="{{ site.author.name }}" />
  
  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}    
  
  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}  
  
  {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}  
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

  {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}
  <script src="https://use.fontawesome.com/0aa48c4a27.js"></script> 

  <!-- Facebook OpenGraph tags -->
  <!--<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />-->
  <meta property="og:title" content="Junk.Systems - the compute sharing platform"/>
  <meta property="fb:app_id" content="1008463105888872"/>
  <meta property="og:site_name" content="Junk.Systems"/>
  <meta property="og:description" content="Share your unused CPU time. Buy extremely cheap computation"/>
  
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://junk.systems/img/avatar-icon.png"/>
  <!--<meta property="og:image:width" content="240">-->
  <!--<meta property="og:image:height" content="190">-->
  
  <meta name="twitter:account_id" content="712612372800790528" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@andrew_vrayo"/>
  <meta name="twitter:site" content="@andrew_vrayo"/>
  <meta name="twitter:domain" content="junk.systems"/>
  <meta name="twitter:title" content="Junk.Systems - the compute sharing platform" />
  <meta name="twitter:description" content="Share your unused CPU time. Buy extremely cheap computation" />
  <meta name="twitter:image" content="https://junk.systems/img/avatar-icon.png" />
  
  {% if page.id %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {% endif %}
  
  {% if page.fb-img %}
  <meta property="og:image" content="{{ page.fb-img }}" />
  {% elsif site.avatar %}
  <meta property="og:image" content="{{ site.url }}{{ site.avatar }}" />
  {% else %}
  <meta property="og:image" content="" />
  {% endif %}
  
  <script type="text/javascript">
    var host = "junk.systems";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
  </script>
  
</head>
